

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%;
}

main {
    padding: 100px;
}

section {
    margin-bottom: 20px;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
}

body {
    font:normal 12px/1.6em Arial, Helvetica, sans-serif;
    font-family: 'Playfair Display', serif;
    font-size: medium;
	color:#2a3845;
	margin:0;
	padding:0;
	background:#FFFFFF;
    background-image: url("pexels-ovan-62693.jpg");
}
.about-me {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 5px;
}
.education {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 5px;
}
.skills {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 5px;
}
.CV {
    background-color: #dfdfdf;
    border-radius: 5px;
    justify-content: center;
    display: flex;
}
.work-exp {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 5px;
}
.project {
    background-color: #dfdfdf;
    padding: 20px;
    border-radius: 5px;
}
.elevation {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }
p {
	margin:0;
	padding:0;
}

#wrapper {
	margin:0 auto;
	width:632px;
	border-left:1px solid #f0e9eb;
	border-right:1px solid #f0e9eb;
}

#header {
	margin:0 1px;
}

#bg {
	height:36px;
	/* background:#FFFFFF; */
}

#main-content {
	margin:0 auto;
}

#main-image {
	text-align:center;
}

#left-column {
	width:300px;
	padding:0 30px 30px;
	float:left;
}

#right-column {
	width:270px;
	float:right;
}

.sidebar {
	width:218px;
	margin:0 auto;
	padding:10px 25px;
	/* background:#FFFFFF; */
}

#footer {
	/* background:#32cd32; */
	border-top:1px solid #f0e9eb;
	padding:10px 15px;
	clear:both;
}

/* Global Styling */

a:visited, a:link {
	color:#a43b55;
	text-decoration:underline;
	/* background:none; */
}

a:hover {
	color:#a43b55;
	text-decoration:none;
	background:none;
}

h1 {
	color:#f4eff0;
	margin:0 0 10px;
	padding-bottom:10px;
    justify-content: center;
    display: flex;
    position: center;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h2 {
	color:#7a2e40;
	margin:20px 0 10px;
	padding-bottom:10px;
	font:normal 17px Georgia, serif;
	border-bottom:1px solid #efece7;
}

h3 {
    color: #478fd6;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
	margin:10px 0;
	padding-bottom:10px;
	font:normal 14px Arial, Helvetica, sans-serif;
	border-bottom:1px solid #efece7;
}

ul {
	padding:0;
	margin:0 0 0 17px;
	list-style:square url('https://web.facebook.com/photo.php?fbid=1441894042538268&set=a.105978852796467.9483.100001530585485&type=3&theater');
}

.box {
	/* background:#f7f7f7; */
	border:1px solid #f0e9eb;
	padding:15px;
}

#nav {
	/* background:#32cd32; */
	padding:10px 20px;
	text-align:right;
	color:#f6dde3;
}

#nav a {
	margin: 0 10px;
}

#nav a:visited, #nav a:link {
	text-decoration:none;
	color:#f6dde3;
}

#nav a:hover {
	text-decoration:underline;
	color:#f6dde3;
}

#logo {
	margin-bottom:20px;
	font:normal 18px Georgia, serif;
	color:#fa7393;
}

#profile_wrapper {
    position: relative;
  }
  
  #profile_wrapper:after {
    content: "";
  
    position: absolute;
    left: 0;
    top: 50%;
    height: 50%;
    right: 0;
  
    background: white;
    z-index: 0;
  }